* {
	cursor: none !important;
}
.fls-cursor {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 1000;
	&__shadow {
		will-change: transform;
		transition: all 0.05s linear 0s;
		position: fixed;
		width: rem(50);
		height: rem(50);

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
			border: 2px solid #000;
			animation: rotate 5s infinite linear;
			@keyframes rotate {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(-360deg);
				}
			}
		}
	}
	&__pointer {
		position: fixed;
		width: rem(3);
		height: rem(3);
		top: 0;
		left: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border: 2px solid #000;
			transition: all 0.3s ease 0s;
			border-radius: 50%;
		}
	}
	&._hover {
		.fls-cursor__pointer::after {
			transform: scale(0.8);
		}
		.fls-cursor__shadow::after {
		}
	}
	&._active {
		.fls-cursor__pointer::after {
			transition: all 0.05s ease 0s;
			transform: scale(0.3);
		}
		.fls-cursor__shadow::after {
		}
	}
}
