.lock body {
	overflow: hidden;
	touch-action: none;
	overscroll-behavior: none;
}

.loading body {
	visibility: hidden;
	opacity: 0;
}

.loaded body {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s ease 0s;
}

/* Главный блок */
.fls-preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	z-index: -1;
}

/* Блок з елементами */
.fls-preloader__body {
	display: flex;
	flex-direction: column;
	padding: 15px;
	max-width: 400px;
}

/* Блок со счетчиком */
.fls-preloader__counter {
	color: #ff5753ff;
	@include adaptiveValue("font-size", 86, 42);
}

/* Прогрессбар */
.fls-preloader__line {
}

/* Линия прогрессбора */
.fls-preloader__line span {
	display: inline-block;
	background-color: #ff5753ff;
	height: 8px;
	transition: width 0.2s ease;
}
