:root {
	/* font families */
	--ff-base: "Inter", sans-serif;

	/* font weights */
	--fw-regular: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;

	/* transition */
	--default-transition: color 0.2s, background-color 0.2s, fill 0.2s ease-in-out;
}

:root[data-theme="light"] {
	/* background page */
	--page-bg: #fff;

	/* colors */
	--clr-main-text: #3c3c43;
	--clr-change-text: #646cff;
	--clr-logo: #646cff;

	/* header colors */
	--header-color: #fff;
	--header-color-fixed: #fff;
	--header-box-shadow: 0 -20px 13px 20px hsla(0, 0%, 50.2%, 0.3);
	/* footer color */
	--footer-color: #fff;

	/* icon colors */
	--icon-mode-fill: #3c3c43;
	--icon-clr-social: #3c3c43;

	/* hover efects */
	--hvr-links: #646cff;

	/* webkit scrollbar color */

	/* switch colors */
	--switch-bg: rgb(142 150 170 / 18%);
	--switch-circle-bg: #fff;
	--switch-border: 1px solid rgba(194, 194, 196, 1);
	--switch-border-hover: 1px solid #646cff;
}

:root[data-theme="dark"] {
	/* background page */
	--page-bg: #22272e;

	/* colors */
	--clr-main-text: #deded6;
	--clr-change-text: #646cff;
	--clr-logo: #646cff;

	/* header colors */
	--header-color: rgba(28, 33, 40, 0.6);
	--header-color-fixed: rgba(28, 33, 40, 0.8);
	--header-box-shadow: 0 -20px 13px 20px hsla(0, 0%, 100%, 0.1);
	/* footer color */
	--footer-color: rgba(28, 33, 40, 0.6);

	/* icon colors */
	--icon-mode-fill: #dcdcd4;
	--icon-clr-social: #deded6;

	/* hover efects */
	--hvr-links: #646cff;

	/* switch colors */
	--switch-bg: rgb(142 150 170 / 22%);
	--switch-circle-bg: transparent;
	--switch-border: 1px solid rgba(194, 194, 196, 0.4);
	--switch-border-hover: 1px solid rgba(100, 108, 255, 9);
}
