//<BUTTONS (a.btn+tab)>
// Сниппет (HTML): btn
//========================================================================================================================================================
.button {
	display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
//========================================================================================================================================================
