// Заголовки, общие БЭМ блоки и прочее...
.title {
	position: relative;
	display: block;
	color: var(--clr-change-text);
	text-align: center;
	// .title__label
	&__label {
		@include adaptiveValue("font-size", 30, 26, 0, 1170, 479.98);
		font-weight: var(--fw-semi-bold);
		text-transform: capitalize;

		&::before,
		&::after {
			content: "";
			position: absolute;
			//width: 30%;
			//height: 1px;
			//background-color: var(--clr-change-text);
		}
		&::before {
			//left: 0;
			//top: 0;
		}
		&::after {
			//right: 0;
			//bottom: 0;
		}
	}
}
//========================================================================================================================================================

//========================================================================================================================================================
