//====================================================================================================
.switcher {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	width: 40px;
	height: 22px;
	flex-shrink: 0;
	border-radius: 11px;
	border: var(--switch-border);
	background-color: var(--switch-bg);
	cursor: pointer;
	transition: border 0.2s;
	@media (any-hover: hover) {
		&:hover {
			border: var(--switch-border-hover);
		}
	}
	// .switcher__shell
	&__shell {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		// .switcher__shell--light
		&--light {
			&::before {
				content: "";
				position: absolute;
				height: 18px;
				width: 18px;
				border-radius: 50%;
				z-index: 0;
				background-color: var(--switch-circle-bg);
			}
		}
		// .switcher__shell--dark
		&--dark {
		}
	}
}

.icon-sun,
.icon-moon {
	height: 12px;
	width: 12px;
	z-index: 1;
}
.icon-sun {
	fill: var(--icon-mode-fill);
}
.icon-moon {
	fill: var(--icon-mode-fill);
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
