//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;

	padding: rem(10) 0;
	background-color: var(--header-color);
	z-index: 100;
	&._header-scroll {
		position: fixed;
		top: -20%;
		background-color: var(--header-color-fixed);
		box-shadow: var(--header-box-shadow);
		border-bottom: rem(1) solid var(--section-border);
	}
	&._header-show {
		transition: top 0.3s ease 0s;
		top: 0;
	}
	// .header__container
	&__container {
	}
	// .header__menu
	&__menu {
	}
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: rem(40);
	min-height: rem(60);
	@media (max-width: $mobile) {
		min-height: rem(40);
	}
	// .menu__logo
	&__logo {
		font-weight: var(--fw-semi-bold);
		@include adaptiveValue("font-size", 24, 20);
		z-index: 12;
		span {
			color: var(--clr-logo);
		}
	}
	// .menu__items
	&__items {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 50, 30, 0, 1170, 768.98);
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			overflow: auto;
			width: 100%;
			height: 100%;
			top: 0;
			right: 120%;
			padding: rem(125) rem(25) rem(25) rem(25);
			background-color: var(--page-bg); // беграунд всего бургер меню
			transition: right 0.3s ease-in;
			&::before {
				content: ""; // Плашка под которой будет меню проезжать
				position: fixed;
				top: 0;
				right: 160%;
				width: 100%;
				height: rem(60);
				background-color: var(--header-color);
				transition: right 0.3s ease-in;
				z-index: 10;
			}
			.menu-open & {
				right: 0;
				&::before {
					content: "";
					right: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: rem(30);
		}

		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-wrap: wrap;
			@include adaptiveValue("column-gap", 60, 25, 0, 1170, 767);
			row-gap: rem(10);
		}
	}
	// .menu__item
	&__item {
		&.is-active {
			color: var(--hvr-links);
		}
	}
	// .menu__link
	&__link {
		position: relative;
		font-weight: var(--fw-semi-bold);
		@include adaptiveValue("font-size", 18, 16, 0, 1170, 991.98);

		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 2.5px;
			bottom: -2.5px;
			left: 0;
			border-bottom: 2.5px solid var(--hvr-links);
			transition: width 0.2s ease-in-out;
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--hvr-links);
			}
			&:hover::before {
				width: 100%;
			}
		}
		@media (max-width: $mobile) {
			font-size: rem(22);
		}
	}
	// .menu__buttons
	&__buttons {
		display: flex;
		align-items: center;
		@media (max-width: $mobile) {
			column-gap: rem(25);
		}
	}
	// .menu__burger
	&__burger {
	}
	// .menu__icon
	&__icon {
	}
}

.switcher {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	width: rem(40);
	height: rem(20);
	flex-shrink: 0;
	border-radius: rem(11);
	border: var(--switch-border);
	background-color: var(--switch-bg);
	cursor: pointer;
	transition: border 0.2s;
	@media (any-hover: hover) {
		&:hover {
			border: var(--switch-border-hover);
		}
	}
	// .switcher__shell
	&__shell {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		// .switcher__shell--light
		&--light {
			&::before {
				content: "";
				position: absolute;
				height: rem(18);
				width: rem(18);
				border-radius: 50%;
				z-index: 0;
				background-color: var(--switch-circle-bg);
			}
		}
		// .switcher__shell--dark
		&--dark {
		}
	}
}
.icon-sun,
.icon-moon {
	height: rem(12);
	width: rem(12);
	z-index: 1;
}
.icon-sun {
	fill: var(--icon-mode-fill);
}
.icon-moon {
	fill: var(--icon-mode-fill);
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(22);
		height: rem(14);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: var(--clr-main-text);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
