.hero {
	// .hero__container
	&__container {
	}
	// .hero__content
	&__content {
	}
	// .hero__change
	&__change {
		padding-top: rem(100);
	}
	// .hero__img
	&__img {
	}
	// .hero__social
	&__social {
	}
}
.change-text {
	// .change-text__item
	&__item {
		@include adaptiveValue("font-size", 28, 20, 0, 1170, 768.98);
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// .change-text__name
	&__name {
		@include adaptiveValue("font-size", 38, 30, 0, 1170, 768.98);
		font-weight: var(--fw-bold);
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__title,
	&__profession {
		display: inline-flex;
		margin: 0;
		vertical-align: top;
	}
	// .change-text__title
	&__title {
		font-weight: var(--fw-semi-bold);
	}
	// .change-text__profession
	&__profession {
	}
	// .change-text__word
	&__word {
		position: absolute;
		display: flex;
		opacity: 0;
		font-weight: var(--fw-semi-bold);
		color: var(--clr-change-text);
		& .letter {
			transform-origin: center center rem(25);
		}
		& .letter.out {
			transform: rotateX(90deg);
			transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
		}
		& .letter.in {
			transition: 0.38s ease;
		}
		& .letter.behind {
			transform: rotateX(-90deg);
		}
	}
	// .change-text__description
	&__description {
		font-size: 18px;
		@include adaptiveValue("font-size", 18, 15);
		line-height: 1.4;
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
}
.img-hero {
	// .img-hero__image
	&__image {
	}
}

.social {
	display: flex;
	align-items: center;
	column-gap: rem(20);
	// .social__icon
	&__icon {
	}
	// .social__github
	&__github {
		height: 40px;
		width: 40px;
		fill: var(--icon-clr-social);
	}
	// .social__linkedin
	&__linkedin {
		height: 40px;
		width: 40px;
		fill: var(--icon-clr-social);
	}
}
//========================================================================================================================================================
