.my-portfolio {
	@include adaptiveValue("padding-top", 80, 40);
	@include adaptiveValue("padding-bottom", 80, 40);
	border-top: 1px solid var(--section-border);
	// .my-portfolio__container
	&__container {
	}
	// .my-portfolio__filter
	&__filter {
	}
	// .my-portfolio__cards
	&__cards {
	}
	// .my-portfolio__card
	&__card {
	}
}
.filter {
	// .filter__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 50, 25, 0, 1170, 768.98);
		row-gap: 10px;
	}
	// .filter__list
	&__list {
	}
	// .filter__button
	&__button {
		position: relative;
		overflow: hidden;
		display: inline-block;
		padding: rem(14) rem(24);
		font-weight: var(--fw-semi-bold);
		text-transform: uppercase;
		transition: color 0.2s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--hvr-links);
			}
		}
		&.active {
			color: var(--clr-change-text);
			span {
				position: absolute;
				display: block;
			}
			span:nth-child(1) {
				top: 0;
				left: -100%;
				width: 100%;
				height: 2px;
				background: linear-gradient(90deg, transparent, var(--clr-change-text));
				animation: span-anim1 1s linear infinite;
			}
			span:nth-child(2) {
				top: -100%;
				right: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(180deg, transparent, var(--clr-change-text));
				animation: span-anim2 1s linear infinite;
				animation-delay: 0.25s;
			}
			span:nth-child(3) {
				bottom: 0;
				right: -100%;
				width: 100%;
				height: 2px;
				background: linear-gradient(270deg, transparent, var(--clr-change-text));
				animation: span-anim3 1s linear infinite;
				animation-delay: 0.5s;
			}
			span:nth-child(4) {
				bottom: -100%;
				left: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(360deg, transparent, var(--clr-change-text));
				animation: span-anim4 1s linear infinite;
				animation-delay: 0.75s;
			}
			@keyframes span-anim1 {
				0% {
					left: -100%;
				}
				50%,
				100% {
					left: 100%;
				}
			}

			@keyframes span-anim2 {
				0% {
					top: -100%;
				}
				50%,
				100% {
					top: 100%;
				}
			}

			@keyframes span-anim3 {
				0% {
					right: -100%;
				}
				50%,
				100% {
					right: 100%;
				}
			}

			@keyframes span-anim4 {
				0% {
					bottom: -100%;
				}
				50%,
				100% {
					bottom: 100%;
				}
			}
		}
	}
}
