.skills {
	@include adaptiveValue("padding-top", 120, 40);
	@include adaptiveValue("padding-bottom", 120, 40);
	border-top: rem(1) solid var(--section-border);
	// .skills__container
	&__container {
	}
	// .skills__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30, 0, 1170, 768.98);
		}
	}
	// .skills__items
	&__items {
		display: grid;
		@include adaptiveValue("column-gap", 15, 10, 0, 1170, 768.98);
		@include adaptiveValue("row-gap", 15, 10, 0, 1170, 768.98);
		grid-template-columns: repeat(3, 1fr);
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $mobile) {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	// .skills__item
	&__item {
	}
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: rem(8);
	cursor: pointer;
	// .item__flex
	&__flex {
		picture {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: rem(80);
		height: rem(80);
		border-radius: 50%;
		border: rem(1) solid var(--skills-border);
		background-color: var(--skills-bg);
		transition: background-color 0.2s;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--hvr-skills);
			}
		}
	}

	// .item__icon
	&__icon {
		width: 100%;
		height: 70%;
		object-fit: contain;
	}
	// .item__text
	&__text {
		text-align: center;
		font-size: rem(12);
		font-weight: var(--fw-semi-bold);
		text-transform: capitalize;
	}
}
